<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>API Ocorrências Criminais</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      body{    
        background-color: #dfdce3;
        
      
      }
      header,footer{
        background-color: #4abdac;
        padding: 10px;
        
      }
      header{
        margin-bottom:20px;
        border-radius: 1% 1% 9% 9% ;
      }
      span{
        color: blueviolet;
        display: inline;
      }
      section p{
        background-color:#CCC;
        margin:30px auto 15px auto ;
        border-radius: 5% 10% 5% 10%;
        text-align: center;
        padding: 10px;
        letter-spacing: 2px;
      }
      footer{
        border-radius: 9% 9% 1% 1% ;
      }
      
    </style>
</head>
<body>
   <header class="container ">
      <article class="container">
        <h1 class="text-center">API Ocorrências Criminais</h1>
        
      </article>
   </header>
   <div class="container">
     <div class=""><b>Base de dados por Municipio</b></div>
     <br></br>
     <!--Modelo para colocar: o que a rota faz, e o endereço da rota.-->
      <section class="container">
        <div class="">O usuário tem a opção de acessar todos os registros da base de dados por município através da requisição HTTP 		abaixo:</div>
        <p>
            <span>GET </span>http://3.86.8.77/municipio/page=1 HTTP/ 1.1
        </p>
	<div class="">Serão retornados os registros de todos os municípios da base de dados</div>
	<br></br>
      </section>
      <section class="container">
        <div class="">O usuário tem a opção de acessar todos os registros da base de dados por município de um estado específico 		passando o parâmetro <b>uf</b>, conforme o exemplo de requisição HTTP abaixo:</div>
        <p>
          <span>GET </span>http://3.86.8.77/municipio/uf=AC/page=1 HTTP/1.1
        </p>
	<div class="">Serão retornados os registros de todos os municípios do estado passado como parâmetro, no caso do exemplo acima, 		todos os municípios do estado do Acre.</div>
	<br></br>
      </section>  
      <section class="container">
        <div class="">O usuário tem a opção de acessar todos os registros da base de dados por município em um intervalo de datas (no 		formato mês-ano) passando os parâmetros <b>início </b> e <b>fim</b> conforme o exemplo de requisição HTTP abaixo:</div>
        <p>
          <span>GET </span>http://3.86.8.77/estado/inicio=01-19&fim=12-19/page=1 HTTP/1.1
        </p>
	<div class="">Serão retornados os registros de todos os municípios entre a data passada no parâmetro <b>início</b> e a data 			passada no parâmetro <b>fim</b> (no caso do exemplo acima, entre janeiro e dezembro de 2019).</div>
	<br></br>
      </section> 
 
      <section class="container">
        <div class="">O usuário também pode passar apenas um dos parâmetros acima. Caso seja passado apenas o parâmetro inicio será 		retornado todos os registros de todos os municípios entre a data passada no parâmetro <b>inicio</b> e a data do dado mais 		recente. Caso seja passado apenas o parâmetro <b>fim</b>, serão retornados os registros de todos os municípios entre a data 		do registro mais antigo e data passada no parâmetro <b>fim</b>. A seguir temos 2 exemplos:</div>
        <p>
          <span>GET </span>http://3.86.8.77/municipio/inicio=01-19/page=1 HTTP/1.1
	  <br></br>
	  <span>GET </span>http://3.86.8.77/municipio/fim=12-19/page=1 HTTP/1.1
        </p>
	<div class="">No primeiro exemplo serão retornados todos os registros a partir de janeiro de 2019, enquanto no segundo exemplo 		serão retornados todos os registros até dezembro de 2019.</div>
	<br></br>
      </section>
	
      <section class="container">
        <div class="">Por fim, o usuário pode combinar as buscas anteriores, buscando por um estado específico, dentro de um intervalo 		de datas conforme a requisição HTTP abaixo:</div>
        <p>
          <span>GET </span>http://3.86.8.77/municipio/uf=AC/inicio=01-19&fim=12-19/page=1 HTTP/1.1
        </p>
	<div class="">Assim, como as requisições por data, também é possível passar apenas um dos parâmetros, ou só o parâmetro 		<b>inicio</b> ou só o parâmetro <b>fim</b>.</div>
	<p>
          <span>GET </span>http://3.86.8.77/municipio/uf=AC/inicio=01-19/page=1 HTTP/1.1
	  <br></br>
	  <span>GET </span>http://3.86.8.77/municipio/uf=AC/fim=12-19/page=1 HTTP/1.1
        </p>
	<div class="">Nesses últimos casos, são retornados todos os registros de um estado específico no intervalo desejado pelo 		usuário</div>
	<br></br>
      </section>     
  </div>

  <div class="container">
     <!--Modelo para colocar: o que a rota faz, e o endereço da rota.-->
     <div class=""><b>Base de Dados por Estado</b></div>
      
      <section class="container">
        <div class="">O usuário tem a opção de acessar todos os registros da base de dados por estado através da requisição HTTP 		abaixo:</div>
        <p>
          <span>GET </span>http://3.86.8.77/estado/page=1 HTTP/ 1.1
        </p>
	 <div class="">Serão retornados os registros de todos os municípios da base de dados</div>
	 <br></br> 
      </section>
	
      <section class="container">
        <div class="">O usuário tem a opção de acessar todos os registros da base de dados de um estado específico passando o 		parâmetro <b>uf</b> conforme o exemplo de requisição HTTP abaixo:</div>
        <p>
          <span>GET </span>http://3.86.8.77/estado/uf=AC/page=1 HTTP/1.1
        </p>
	<div class="">Serão retornados os registros do estado passado como parâmetro, no caso do exemplo acima, do estado do 		Acre.</div>
	<br></br> 
      </section>
	       
      <section class="container">
        <div class="">O usuário tem a opção de acessar todos os registros da base de dados por estado em um intervalo de datas (no 		formato mês-ano) passando o parâmetro <b>inicio</b> e o parametro <b>fim</b> conforme o exemplo de requisição HTTP 			abaixo:</div>
        <p>
          <span>GET </span>http://3.86.8.77/estado/inicio=01-19&fim=12-19/page=1 HTTP/1.1
        </p>
	<div class="">Aqui, serão retornados os registros de todos os estados entre a data passada no parâmetro <b>inicio</b> e a data 		passada no parâmetro <b>fim</b>, (no caso do exemplo acima, entre janeiro e dezembro de 2019).</div>
      	<br></br>
	</section>

       <section class="container">
        <div class="">O usuário também pode passar apenas um dos parâmetros acima. Caso seja passado apenas o parâmetro <b>inicio</b> 		serão retornados os registros de todos os estados entre a data passada em no parâmetro <b>inicio</b> e a data do 		registro mais recente. Caso seja passado apenas o parâmetro <b>fim</b>, serão retornados os registros de todos os 		estados entre a data do registro mais antigo e data passada no parâmetro <b>fim</b>. Abaixo temos 2 exemplos:</div>
        <p>
          <span>GET </span>http://3.86.8.77/estado/inicio=01-19/page=1 HTTP/1.1
	  <br></br>
	  <span>GET </span>http://3.86.8.77/estado/fim=12-19/page=1 HTTP/1.1
        </p>
      <br></br>
      </section>

      <section class="container">
        <div class="">Por fim o usuário pode combinar as buscas anteriores, buscando por um estado específico dentro de um intervalo 		de datas, conforme a requisição HTTP abaixo.</div>
        <p>
          <span>GET </span>http://3.86.8.77/estado/uf=AC/inicio=01-19&fim=12-19/page=1 HTTP/1.1
        </p>
	<div class="">Assim como as requisições por data também é possível passar apenas um dos parâmetros, ou só <b>inicio</b> ou 		<b>fim</b>.</div>
        <p>
          <span>GET </span>http://3.86.8.77/estado/uf=AC/inicio=01-19/page=1 HTTP/1.1
	  <br></br>
	  <span>GET </span>http://3.86.8.77/estado/uf=AC/fim=12-19/page=1 HTTP/1.1
        </p>
	<div class="">Nesses últimos casos, são retornados todos os registros de um estado específico, no intervalo desejado pelo 		usuário.</div>
      <br></br>
      </section>

       
      <br></br>  
  </div>
   
   <footer class="container fixed-bottom text-center">
      <div>
        COPYRIGHT &COPY; 2020
      </div>
   </footer>
</body>
</html>
